<body>
    <div class="contenido" style="padding-top: 20px; padding-bottom: 200px;">
        
            <div class="row" style="padding-bottom: 10px;"  >
                <p>For any sugestions, please don't hesitate to contact us below!</p>
            </div>
            <div class="row">
                <div class="col" style="text-align: center ;">

                    <form>
                        <div class="row mb-3">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                            <input tpye="name" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>

                            <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact submit</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body"> Thank you for your message, we will contact you soon. </div>
                                    <div class="tenor-gif-embed" data-postid="5843580461777575742" data-share-method="host" data-aspect-ratio="1.52" data-width="100%"><a href="https://tenor.com/view/po-kung-fu-panda-kung-fu-panda-1-training-gif-5843580461777575742">Po Kung Fu Panda GIF</a>from <a href="https://tenor.com/search/po-gifs">Po GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        
    </div>
</body>


        


